<% if User.current.allowed_to?(:view_issue_recurrences, @project) %>
  <hr/>
  <div id="issue_recurrences">
    <div class="contextual">
      <% if User.current.allowed_to?(:manage_issue_recurrences, @project) %>
        <%= toggle_link l(:button_add), 'new-recurrence-form', :focus => 'recurrence_' %>
      <% end %>
    </div>

    <p><strong><%=t('.recurrences')%></strong></p>

    <div id="recurrences">
      <%= render partial: 'issues/recurrences/index' %>
    </div>

    <% if User.current.allowed_to?(:manage_issue_recurrences, @project) %>
      <%= render partial: 'issues/recurrences/form' %>
    <% end %>
  </div>
<% end %>
