<% if @recurrence_copies.present? %>
  <div style='display: none'>
    <% @recurrence_copies.each do |issue| %>
      <% if issue.visible? %>
        <p>
        <%= "(#{issue.status}) " %>
        <%= link_to "##{issue.id} #{issue.subject}", issue_path(issue) %>
        <%= ", #{issue.start_date}-#{issue.due_date}}" %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
