<% if @recurrences.present? %>
  <table class="list odd-even">
    <tr>
      <th class="issue">Issue</th>
      <th class="actions">Actions</th>
    </tr>
    <% @recurrences.each do |recurrence| %>
      <tr id="recurrence-<%= recurrence.id %>" class="<%= cycle('odd', 'even') %>">
        <td class="description"><%= recurrence.to_s %></td>
        <td class="buttons">
          <%= link_to l(:button_delete), issue_recurrences_path(recurrence), method: :delete,
            remote: true, class: 'icon icon-del' if recurrence.deletable? %>
        </td>
      </tr>
    <% end %>
    <% reset_cycle %>
  </table>
<% end %>
